
<div class="list-side-by-side">
<dl>
{{#.}}
  {{#Standard}}
    <dt>{{Parameter}}</dt><dd>[ <i>default: {{Default}} {{Units}}</i> ] {{{Description}}}</dd>
  {{/Standard}}
  {{#Heading}}
   <br></br>
    {{Parameter}}
    <hr>
    {{Description}}
  {{/Heading}}
  {{#SubHeading}}
    <br></br>
    <i>{{Parameter}}</i>
  {{/SubHeading}}
{{/.}}
</dl>
</div>